API_ID= 29250051 # get this value from my.telegram.org
API_HASH= 5a8e5c861695595f38ec59b6e0a0f6cc # get this value from my.telegram.org
BOT_TOKEN= 6686420045:AAH4xpOg3cfDtRK4TP7usMe7Mzl3rmej8dw # get this value from @Botfather
MONGO_DB_URI= mongodb+srv://tonyxbot:tonyxbot@cluster0.bojrxzg.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
SUDO_USER = 5366891026 # User IDs
